:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #d9d9d9;
  background-color: #fdfdfd;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  border-right: 5px solid slategray;

  &:nth-child(even):hover {
    border-right: 5px solid blue;
    background-color: rgba(0, 0, 255, 0.2);
  }
  &:nth-child(odd):hover {
    border-right: 5px solid green;
    background-color: rgba(0, 128, 0, 0.2);
  }

  > * {
    flex: 1;
  }
  .category {
    font-size: .7rem;
  }
  .id {
    font-size: .5rem;
    font-style: italic;
  }
  .thumbnail {
    max-height: 60px;
    max-width: 60px;
  }
}
